*
{
	padding: 0;
	margin: 0;
}
@font-face 
{
    font-family: main;
    src: url('../font/montserrat/Montserrat-Regular.otf') format('opentype');
}
#navigation
{
	background-color: #F4D6BC;
}
ul li 
{
	display: inline;
	text-decoration: none;
}
li 
{
	padding: 10px;
}

body
{
	background-color: #294052;
	color: black;
	font-family: main;
}

a:link, a:visited, a:hover, a:focus
{
	color: #FAFAFA;
	text-decoration: none;
}
#container
{
	margin: auto;
	width: 500px;
	padding: 20px;
	background-color: #8FBCDB;
}
